<form id="address" action="/lookup_address" method "POST">
  <input type="text" name="address" placeholder="Address">
  <input type="submit" value="Submit">
</form>
<br>
<hr>
<br>
<form id="coords" action="/lookup_coords" method "POST">
  <input type="text" name="latlng" placeholder="Longitude and Latitude (and Additude)">
  <input type="submit" value="Submit">
</form>
